.partner-account{
  padding: 30px;
}
.partner-account__wrapper{
  display: flex;
  border: 4px solid $main-color;
  border-radius: 35px;
  background-image: url("../../assets/promoBackground3.png"), url("../../assets/formBackground2.png"),
  url("../../assets/formBackground3.png"),
  url("../../assets/formBackground4.png");
  background-position: top 50px right 50px, right 100px bottom 140px, bottom 80px right 300px, top 100px right 250px;
  background-repeat: no-repeat;
}
.partner-account__workspace{
  flex-basis: 80%;
  padding: 30px 40px 100px;
}
.partner-account__title{
  @include font($size:3rem, $weight:600);
  @extend %font-add;
  color: $text-color-additional;
  margin: 20px;
}
