.button{
  border: none;
  border-radius: 47px;
  padding: 16px 28px;
  box-shadow: 0 2px 3px 0 rgba(16, 24, 40, 0.1);
  @include font(2rem);
  cursor: pointer;
  &_colored {
    background-color: $button-color;
    color: $button-text-color;
  }
  &_transparent{
    color: $text-color-additional;
    background-color: transparent;
  }
  &:hover{
    box-shadow: 0 5px 8px 0 rgba(16, 24, 40, 0.5);
  }
}
