$text-color-primary: #06241b;
$text-color-additional: #7e7eaa;
$text-color-highlight: #7f56d9;
$text-color-highlight-additional: #ef670d;
$button-color: #7f56d9;
$button-text-color: #fff;
$course-highlight-color: #fff;
$button-color-additional: #ff6905;
$main-color: #865aef;
$background-color: #f6f6fc;
$background-color-additional: #cfcfd9;
$border-color: #dadaf7;
$error-color: #ad3c3c;



$content-width: 1280px;

