@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Caladea';
  src: url('../assets/fonts/Caladea/Caladea-Regular.ttf') format('truetype');
}